APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG=daily
APP_LOG_LEVEL=debug
APP_URL=http://www.looop-competition.looop.com/
APP_NAME=SPEAKTOU-BACKEND

#http://looop-dev.oss-cn-hongkong.aliyuncs.com/
#http://speak.oss-cn-hongkong.aliyuncs.com/

CDN_URL=http://speak.oss-cn-hongkong.aliyuncs.com/
#PUBLIC_URL=https://www.speakout.hk

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_HOST_READ=127.0.0.1
DB_HOST_WRITE=127.0.0.1
DB_PORT=3306
DB_DATABASE=looop-competition
DB_USERNAME=root
DB_PASSWORD=

MEMBERSHIP_DB_CONNECTION=mysql
MEMBERSHIP_DB_HOST=127.0.0.1
MEMBERSHIP_DB_PORT=3306
MEMBERSHIP_DB_DATABASE=forge
MEMBERSHIP_DB_USERNAME=root
MEMBERSHIP_DB_PASSWORD=

#BROADCAST_DRIVER=log
#CACHE_DRIVER=redis
#QUEUE_DRIVER=redis

#緩存
GLOBAL_CACHE=0
PAPER_ID_CACHE=0
#賽季緩存
SEASON_CACHE=30000
#试卷缓存
PAPER_CACHE=0
SPONSORS_CACHE=0
SCHOOL_CACHE=0
PAGE_CACHE=0
REFERENCE_CACHE=0
POST_CACHE=0
AD_CACHE=0

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_DRIVER=sync

# For session sharing across projects
# set session driver to redis
# set session domain
# set session connection name
# in different projects' config
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_DOMAIN=.looop.com
SESSION_CONNECTION=membership

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

REDIS_DATABASE_MEMBERSHIP=0
REDIS_DATABASE_DEFAULT=3
REDIS_DATABASE_PAPER=4
REDIS_DATABASE_USER_STAT=5
REDIS_DATABASE_QUEUE=6
REDIS_DATABASE_HORIZON=7

OSS_ACCESS_ID=
OSS_ACCESS_KEYS=
OSS_BUCKET=looop-competition-dev
OSS_ANSWERS_BUCKET=looop-competition-answers-dev
OSS_REPORTS_BUCKET=ba-quiz-reports-dev
OSS_ENDPOINT=oss-cn-hongkong.aliyuncs.com

#smtp
MAIL_DRIVER=mailgun
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAILGUN_DOMAIN=mg.looop.hk
MAILGUN_SECRET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

MAILCHIMP_APIKEY=
MAILCHIMP_LIST_ID=

SENTRY_DSN=

SLACK_HOOK=

ANALYTICS_VIEW_ID=94390544

#filter hash in managerment page
TAG_HASH=555284de55a7ade1a6449ee3817f1c22

# Google Recaptcha v3
GOOGLE_RECAPTCHA_SECRET_KEY=
GOOGLE_RECAPTCHA_SITE_KEY=

# Sentry dsn
MIX_SENTRY_DSN=

SEND_DAILY_REPORT=false
