.desktop-header {
    .logo-container {
        width: 100%;
        height: 219px;
        background: url('/images/top_bg.jpg') no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: space-between;
    
        .button {
            display: flex;
            width: 30%;
            height: 100%;
            align-items: center;
            // justify-content: center;
            padding-left: 70px;
        }
    
        .logo {
            display: flex;
            width: 40%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    
        .prize-badge {
            display: flex;
            width: 30%;
            height: 100%;
            align-items: center;
            justify-content: flex-start;
        }
    
        .partake{
            width: 20%;
            margin-left: 4%;
        }
        
        .nine{
            width: 46%;
            div{
                margin-left: 47px;
            }
            img{
                width: 100%;
            }
        }
    }

    .nav-bar-container {
        @include gradient-background;

        width: 100%;
        height: 40px;
        border-top: #FFFFFF solid 2px;
        // border-bottom: #FFFFFF solid 1px;
        font-weight: bold;

        ul {
            &.nav-list {
                font-size: 1.66rem;
                
                // display: flex;
                list-style: none;
                // justify-content: space-evenly;

                
                padding: 0;
                list-style: none;
                width: 100%;
                margin: 0 auto;
                text-align: center;

                li {
                    text-align: center;
                    display: inline-block;

                    &:not(:last-child){
                        &::after {
                            content: '|';
                            padding: 0 30px;
                            color: #D0D0D0;
                        }
                    }
                }
                
            }
        
            color: #FFFFFF;
            
            a {
                color: #FFFFFF;
        
                &:hover {
                    color: orange;
                }
            }
        }        
    }
    

    .fix-height {
        height: 40px;
        display: flex;
        align-items: center;
    }
}

.mobile-header {
    .banner-container {
        background:url("/images/mobile_header_bg.png") no-repeat center;
        background-size: cover;
        height: 130px;

        .nav-icon {
            position: absolute;
            left: 10px;
            top: 10px;

            .icon-bar {
                background: #fff;
                width: 25px;
                height: 3px;
                transform: scaleY(0.5);
            }
        }

        .button {
            position: absolute;
            right: 10px;
            display: flex;

            height: inherit;

            align-items: center;
            
            img {
                height: 90px;
            }
        }
    }
}

.mobile-nav-bar-container {
    @include gradient-background;

    margin-top: 130px;

    width: 100%;
    height: 40px;
    border-top: #FFFFFF solid 2px;
    // border-bottom: #FFFFFF solid 1px;
    font-weight: bold;
    color: #FFFFFF;

    .swiper-slide {
        text-align: center;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        a {
            color: #FFFFFF;
        }
    }
}
