@charset "utf-8";

@function px($px){
    @return ($px/2) * 1px;
}

@import 'mixin';

.header{
    width: 100%;
    background: url(../img/top_bg.jpg) no-repeat center;
    background-size: cover;

    height: 219px;

    .header-container {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    .button {
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: 50px;
    }

    .logo {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .prize-badge {
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 50px;
    }

	.partake{
		width: 20%;
		margin-left: 4%;
	}
    .nine{
		width: 46%;
        div{
            margin-left: 47px;
        }
        img{
            width: 100%;
        }
    }
}
.mobile-header{
	.navbar-header .navbar-brand{
		float: left;
	}
	.navbar-header .navbar-toggle{
		float: left;
		margin-left: 3%;
        margin-right: 6%;
        border: 1px solid #fff;
		.icon-bar {
			height: 5px;
			background: #fff;
			transform: scaleY(0.5);
		}
	}
	.logos{
		float: right;
	}
	.middle-header{
		text-align: center;
		margin-top: -15px;
		width: 7%;
		height: 10%;
		margin: 0 auto;
		img{
			position: static;
		}
	}
	.move-section{
		margin-top: 45px;
	}
	.nav{
		a{
			color: #5DBAC6;
		}
	}
	 #mobile-menu {
		 position:fixed;
		 top: 0;
		 left:0;
		 width: 100%;
		 height:100%;
		 z-index:9999999;
		 transition:all 0.3s ease-in; 
		font-size: 24px;
		 >div{
			width:65%;
			height:100%; 
            background-color: #5A4C80;
			overflow-y: scroll;
			float: left;
			.logoBig{
				text-align:center;
				>div{
					width: 80%;
					margin: 0 auto;
				}
				
				img{
					width: 100%;
				}
			}
		 } 
		#tach{
			width: 35%;
			float: right;
			background: rgba(3,3,3,0.5);
			float: right;
		}
		.left-top{
            padding: 6% 0;
            height: 125px;
			background: url('/images/sidebar_top_bg.png') no-repeat center;
			background-size: cover;
			.navbar-toggle{
				float: left;
				margin-left: 10px;
				.icon-bar{
					background: #fff;
					width: 25px;
					height: 3px;
					transform: scaleY(0.5);
				}
			}
			.navbar-brand {
				float: left;
				height: 50px;
				padding: 0;
				font-size: 18px;
				margin-left: 35%;
			}
			.logos {
				width: 50%;
				float: right;
				margin: 0px 18% 0 0;
				img{
					width:100%;
				}
			}
		}
	}
	 #site-navigation .drop-menu li a:hover ,#site-navigation .drop-menu li a:focus{
		 text-decoration:none;
		 color: #0d8a9a;
	}
	#mobile-menu {
		ul{
			list-style: none !important;
			padding: 0;
			margin: 0;
			text-align: center;
			li{
				// color: white;
				line-height: 2;
				border-bottom:1px solid #fff;
				position: relative;
				>div{
					width: 100%;
					text-align: center;
					h3,div{
						display: inline-block; 
						margin: 0;
						font-size: 16px;
					}
					h3 a{
						color: #FFFFFF;
					}
					div{
						position: absolute;
						right: 15px;
						top: 8px;
					}
				}
				a {
					color: #333;
					line-height: 2;
					padding: 0; 
					font-size: 16px;
				}
				ol{
					list-style: none;
					text-align: center;
					padding: 0;
					border-top: 1px solid #fff;
					li{
						background: #808080;
						a{
							color: #fff;
						}
					}
				}
			} 
		} 
		.option{
			display: none;
		}
		 .Looop{
			 background: #e6e6e6;
			 div{
				width: 28%;
				margin: 0 auto;
			 }
			.loopchild{
				width: 100%;
				text-align: center;
				span{
					width: 7px;
					height: 7px;
					background: #fff;
					border-radius: 50%;
					margin: 0;
				}
				p{
					display: inline-block;
					margin: 20px 15px 0;
				}
			}
			 h3{
				margin: 0 auto;
				text-align: center;
			 }
		 }
		.wlogo{
			text-align: center;
			height:70px;
			line-height: 70px;
			background: #3a5a9b;
			border-bottom: 1px solid #fff;
			span{
				font-size: 14px;
				color: #fff;
			}
			img{
				width:23px;
			}
		}
	}
	.mobile-nav ul li a:hover {
		// background-color: #23A1F6;
	}

	.show-nav {
		transform: translateX(0);
		-ms-transform: translateX(0);
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transition: all 500ms linear;
	}
	.hide-nav {
		transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transition: all 500ms linear;
	} /*侧滑关键*/
	.nav.avbar-inverse{
		position:relative;
	}
	.nav-btn {
		position: absolute;
		left:0;
		top:0;
		width: 100%;
	}
	.fexd{
		position: fixed;
		z-index: 1000000;
		background:url(../img/mobileHeader_bg.jpg) no-repeat center;
		background-size: 100% 100%;
		height: 130px;
		line-height: 130px;
		#search-btn-top,#searchbtn{
			position: absolute;
			top: 8px;
			right: 20px;
			width: 32px;
		}
	}
}
.partake{
    h2{
        margin-top: 0;
        margin-bottom: 7px;
        font-size: 28px;
        color: #0C2F60;
        font-weight: bold;
        padding: 10px 0 0;
    }
    >div{
        width: 198px;
        height: 93px;
        margin: 0 auto;
        background: #DCDDDD;
        border-radius: 4px;
        position: relative;
    }
    .box{
        height: 41px;
        position: absolute;
        overflow: hidden;
        top: 69%;
        margin-top: -20px;
        margin-left: -30px;
        left: 33%;
    }
    .box span{
        display: inline-block;
        background: url(../img/rollbg.png) no-repeat center;
        color: #fff;
        width: 26px;
        height: 41px;
        font-size: 28px;
        line-height: 41px;
        padding: 0 5px;
    }
    .box .sign-box span{
        width: 15px;
    }
    .box .digit-container{
        width: 26px;
        text-align: center;
        overflow: hidden;
        font-size: 0;
    }
    .l{
        float: left;
    }
}
.middle-partake{
    position: relative;
    margin: 0 0 20px 0;
    height: 55px;
    >div{
        padding: 0 8px;
        width: 100%;
        height: 55px;
        h2{
            font-size: 24px; 
            margin-top: 4px; 
        }
        h2,.box{
            float: left; 
        }
    }
    .box {
        top: 0;
        margin-top: 7px;
        margin-left: 0;
        right: 8px;
        left: auto;
    }
}
.nav-header{
    @include main-background;

    width: 100%;
    height: 30px;
    line-height: 30px;
    border-top: #FFFFFF solid 1px;
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24459B', endColorstr='#03142B',GradientType=0 );
    // background: -moz-linear-gradient( 
    //     to bottom , 
    //     #03142B 0%,
    //     #24459B 50%, 
    //     #03142B 100%
    //     );
    // background: -webkit-gradient(
    //     linear, 
    //     left top, 
    //     left bottom, 
    //     color-stop(0%,#03142B), 
    //     color-stop(50%,#24459B), 
    //     color-stop(100%,#03142B)
    //     );
    // background: -webkit-linear-gradient( 
    //     to bottom , 
    //     #03142B 0%,
    //     #24459B 50%, 
    //     #03142B 100%
    //     );
    // background: -o-linear-gradient( 
    //     to bottom , 
    //     #03142B 0%,
    //     #24459B 50%, 
    //     #03142B 100%
    //     );
    // background: -ms-linear-gradient( 
    //     to bottom , 
    //     #03142B 0%,
    //     #24459B 50%, 
    //     #03142B 100%
    //     );
    // background: linear-gradient( 
    //     to bottom , 
    //     #03142B 0%,
    //     #24459B 50%, 
    //     #03142B 100%
    //     );
    //margin-top: 5px;
    // margin-left: 6%;
    >ul{
        list-style: none !important;
        padding: 0 70px 0 100px;
        position: relative;
        li:nth-child(1){
            a{
                margin-left: 17%;
            }
        }
        li,.loginactive{
            float: left;
            width: 15%;
            position: relative;
            a{
                color: white;
                font-size: 17px;
            }
            a.active, a:hover{
                text-decoration: none;
                color: #fff46d;
            }
            .mid.active{
                color: #a19606;
            }
            .line{
                width: 2px;
                height: 18px;
                background: #fff;
                position: absolute;
                right: 26%;
                top: 10px;
                transform: scaleX(0.5);
            }
            ul{
                list-style: none;
                position: absolute;
                bottom: -47px;
                padding: 0;
                z-index: 6;
                left: -36px;
                display: none;
                li{
                    width: 92%;
                    height: 24px;
                    line-height: 24px;
                    background: #fff;
                    text-align: center;
                    &:nth-child(1) a{
                        margin-left: 0; 
                    }
                    a{
                        color: #231f20;
                        font-size: 14px;
                        &:hover{
                            color: #03142B;
                        }
                    }
                    &:nth-child(2){
                        background: #EFEFEF;
                    }
                }
            }
            &:hover >ul{
                display: block;
            }
        }
        .loginactive,.loginactive ul{
            // position: absolute;
            // right: 6%;
            z-index: 5;
            color: #fff;
			float: none;
            width: 200px;
			cursor: pointer;
            a{
                color: #fff;
                font-size: 17px;
            }
            >span:nth-child(1){
                padding-right: 10px;
            }
        }
		.loginactive ul{
            left: 0;
            li{
                width: 100%;
            }
        }
    }
} 
.section{
    background: rgb(130, 199, 207);
    padding: 0px 0 20px;
    width: 100%;

    .section-top{
        >div{
            width: 32%;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001848', endColorstr='#2067A7',GradientType=1 );
            background: -moz-linear-gradient(90deg, #001848 0%,#2067A7 100%);
            // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001848), color-stop(100%,#2067A7));
            background: -webkit-linear-gradient(90deg, #001848 0%,#2067A7 100%);
            background: -o-linear-gradient(90deg, #001848 0%,#2067A7 100%);
            background: -ms-linear-gradient(90deg, #001848 0%,#2067A7 100%);
            background:linear-gradient(90deg, #001848 0%,#2067A7 100%);
            float: left;
            border-radius: 8px;
            position: relative;
            h4{
                background: #00A0E9;
                font-size: 26px;
                height: 37px;
                line-height: 37px;
                font-weight: bold;
                color: #fff;
                margin: 7px 0;
                border-radius: 4px;
                text-align: center;
            }
            >ul{
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    float: left;
                    margin: 0 0 5px 0;
//                  width: 266px;
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    &:nth-of-type(odd){
                        background: #E6E6E7;
                    }
                    &:nth-child(even){
                        background: #BAE3F9;
                    }
                    a{
                        color: #333;
                        display: block;
                        height: inherit;
                    }
                    a div{
                        float: left;
                        &:nth-child(1){
                            width: 26px;
                            height: 26px;
                            margin: 2px 3px;
                            line-height: 21px;
                            font-size: 20px;
                            text-align: center;
                            background: #898989;
                            color: #ffffff;
                        }
                        &:nth-child(2){
                            font-size: 15px;
                            margin: 0 5px;
                            overflow: hidden;
                            white-space: nowrap;
                            display: inline;
                        }
                        &:nth-child(3){
                            text-align: right;
                            float: right;
                            margin-right: 5px;
                        }
                    }
                    &:nth-child(-n+3) >a div:nth-child(1){
                        background: #00A0E9;
                    }
                    &:hover{
                        background: #f7d7d7;
                    }
                }
            }
            .more{
                text-align: right;
                margin-right: 13px;
                height: 25px;
                a{
                    color: #D7C9E3;
                    font-size: 16px;
					&:hover{
						color: #fff46d;
					}
                }
            }
            &:nth-child(2){
                // margin: 0 2%;
                h4{
                    background: #7E4899;
                }
                ul li{
                    &:nth-of-type(even){
                        background: #D7C9E3;
                    }
                    &:nth-child(-n+3) >a div:nth-child(1){
                        background: #7E4899;
                    }
                    &:hover{
                        background: #f7d7d7;
                    }
                }
            }
            &:nth-child(3){
                h4{
                    background: #F2974F;
                }
                ul li{
                    &:nth-of-type(even){
                        background: #F2D1AF;
                    }
                    &:nth-child(-n+3) >a div:nth-child(1){
                        background: #F2974F;
                    }
                    &:hover{
                        background: #f7d7d7;
                    }
                }
            }
        }
    }
    .star{
        position: absolute;
        top: -16px;
        left: -14px;
        width: 36px;
        height: 30px;
        img{
            width: 100%;
        }
    }
    .section-middle{
        // margin: 10px;
        >div{
            >div:nth-child(2) {
                // padding: 0 1% 0 1.5%;
            }
            .left-content{
                width: 100%;
                background: white;
                padding-top: 14px;
                border-radius: 8px;
                padding-bottom: 14px;
                margin-bottom: 14px;
                position: relative;
                h6{
                    color: #FFFFFF;
                    
                    @include main-background;

                    height: 32px;
                    line-height: 32px;
                    margin: 0 14px;
                    border-radius: 3px;
                    padding-left: 10px;
                    font-size: 20px;
                    font-weight: bold;
                }
                >div{
                    overflow: hidden;
                    margin: 14px 14px;
                    p{
                        position: relative;
                        font-size: 15px;
                        margin: 0 0 24px;
                        color: #3e484b;
                        a{
                            font-size: 12px;
                            color: #3e484b;
                            padding: 0;
                        }
                        &:nth-last-child(1) {
                            margin-bottom: 0;
                        }
                    }
                    .time{
                        margin: 0;
                        font-size: 19px;
                        color: #231f20;
                    }
                    >div{
                        .leftimg{
                            width: 30%;
                            img{
                                width: 100%;
                            }
                        }
                        .img-box{
                            padding-top: 30%;
                            margin-left: 0;
                        }
                        >div{
                            float: left;
                            &:nth-child(2){
                                width: 70%;
								position:relative;
								height: 0;
								padding-top: 30%;
                                p{
                                    padding: 0 0px 0 10px;
                                    margin-bottom: 24px;
                                    &:nth-child(1){
                                        margin: 5px 0 0 0;
                                    }
                                }
                                .more{
									position: absolute;
									bottom: 0;
									height: 20px;
                                    a{
                                        font-size: 11px;
                                    }
                                }
                                .time{
                                    line-height: 23px;
									font-size : 17px;
                                }
								>div:nth-child(1){
									position: absolute;
									top: 0;
									left: 0;
								}
                            }
                        }
                    }
                }
                .more{
                    text-align: right;
                    margin: 0 13px 0;
					float: none;
                    a{
                        color: #414549;
                        font-size: 17px;
                    }
                }
                .star{
                    top: -28px;
                    left: -30px;
                }
            }
        }
        .banner-bottom{
            //margin-left: -1%;
            >div{
                width: 50%;
                float: left;
                margin: 14px 0 14px;
                padding-right: 7px;
                &:nth-child(2){
                    padding-left: 7px;
                    padding-right: 0;
                }
                img{
                    width: 100%;
                }
                >div{
                    width: 100%;
                    height: 100%;
                    background: #CDCFD1 url(../img/logos-bg.jpg) no-repeat center;
                    background-size: 90%;
                }
            }
			>.ad{
				margin-top: 0;
			}
            .img-box{
                padding-top: 50%;
                width: 100%; 
                margin-left: 0;
                
            }
        }
    }
	.slider-news{
		.swiper-container{
			width: 100%;
			height: 92px;
			position: relative;
			.swiper-wrapper{
				float: none;
				p{
					margin: 0 0 5px;
				}
				.time{
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
                    margin: 0;
                    color: #231f20;
				}
				
			}	
			.swiper-pagination-switch {
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 10px;
				background: #E5E6E8;
				margin: 0 5px;
				opacity: 0.8;
				border: 1px solid #fff;
				cursor: pointer;
			}
			.swiper-active-switch {
				background: #231f20;
				width: 14px;
			}
			.pagination{
				position: absolute !important;
				bottom: 0;
				left: 50%;
				margin-left: -40px;
				width: 70%;
				height: 30px;
				padding-top: 0 !important;
			}
		}
		
		>div{
			.more{
				
			}
		}
	}
    .banner{
        background: #CDCFD1 url(../img/logos-bg.jpg) no-repeat center;
        background-size: 90%;
        overflow: hidden;
        //margin-left: -1%;
        //padding-top: 50%;
		padding-top: 110%;
        position: relative;
        height: 0;
        .swiper-container {
            width: 100%;
            position: absolute;
            top: 0;
            height: 100%;
        }  
        .swiper-slide{
            width: 100%;
            position: relative;
			.img-box{
				padding-top: 100%;
				width: 100%;
				margin-left: 0;
			}
			>div:nth-child(2){
				background: #231f20;
				color: #fff;
				height: 9%;
			}
			h4{
				font-size: 24px;
				margin: 0;
				padding: 3%;
				overflow: hidden;
				color: #fff;
				text-overflow: ellipsis;
				white-space: nowrap;
				a{
					color: #fff;
				}
			}
        }
        .pagination{
            position: absolute;
			bottom: 7%;
            left: 50%;
            margin-left: -40px;
        }
        
        .swiper-pagination-switch {
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 10px;
              background: #E5E6E8;
              margin: 0 5px;
              opacity: 0.8;
              border: 1px solid #fff;
              cursor: pointer;
        }
        .swiper-active-switch {
            background: #fff;
            width: 14px;
        }
    }

    .section-bottom{
        width: 93%;
        margin-left: 5%;
        >div{
            height: 155px;
            line-height: 155px;
            overflow: hidden;
            padding-left: 0;
            text-align: center;
            >div{
                background: #c3c6c9;
                border: 2px solid white;
                float: left;
                text-align: center;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
            }
            &:not(:nth-child(1)) h2{
                color: #fff46d;
                text-shadow: 2px 2px 5px #04152A;
                filter: progid:DXImageTransform.Microsoft.Shadow(color=#04152A,direction=90);
            }
            h2{
                font-size: 37px;
            }
            .blue{
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002C61', endColorstr='#2575BC',GradientType=1 );
                background: -moz-linear-gradient(left,#002C61 0%,#2575BC 100%);
                // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002C61), color-stop(100%,#2575BC));
                background: -webkit-linear-gradient(left,#002C61 0%,#2575BC 100%);
                background: -o-linear-gradient(left,#002C61 0%,#2575BC 100%);
                background: -ms-linear-gradient(left,#002C61 0%,#2575BC 100%);
                background:linear-gradient(left,#002C61 0%,#2575BC 100%);
            }
            .pupor{
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52236E', endColorstr='#9F80AB',GradientType=1 );
                background: -moz-linear-gradient(left,#52236E 0%,#9F80AB 100%);
                // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52236E), color-stop(100%,#9F80AB));
                background: -webkit-linear-gradient(left,#52236E 0%,#9F80AB 100%);
                background: -o-linear-gradient(left,#52236E 0%,#9F80AB 100%);
                background: -ms-linear-gradient(left,#52236E 0%,#9F80AB 100%);
                background:linear-gradient(left,#52236E 0%,#9F80AB 100%);
                 // repeat scroll  0 transparent
            }
        }
    }
}
.section .section-middle > div .left-ct{
	padding-bottom: 0;
	//margin-left: -1%;
}
.modal-title{
    color: #20408f;
    // text-align: center;
}
.modal-body {
    color: #20408f;
    // text-align: center;
    font-size: 20px;
}
.pull-right a{
    color: #fff;
}
.modal-footer{
    border: none;
}

.modal-dialog {
    min-width: 353px;
    max-width: 600px;
    margin: 15% auto 0;
}

a:hover,a:focus{
    text-decoration: none;
}
.imgAuto{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.img-box{
    position: relative;
    height: 0;
    padding-top: 20%;
    overflow: hidden;
    padding-top: 58%;
    width: 58%;
    margin-left: 45%;
    background: #CDCFD1 url(../img/logos-bg.jpg) no-repeat center;
    background-size: 90%;
    img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
}
.bgColor{
    background: #CDCFD1 url(../img/logos-bg.jpg) no-repeat center;
    background-size: 90%;
}
body >div{
    padding: 0;
}
//@media (min-width: 1200px){
//	.container {
//		width: 1000px;
//	}
//}

@media (min-width: 992px) {
    .section-middle {
        margin: 10px;
    }

}

@media (min-width: 1200px) {
    ul.sidebar-ranking li a div:nth-child(2){
        width: 210px;
    }

}

@media (max-width: 768px){
   ul.sidebar-ranking li a div:nth-child(2){
        width: 190px;
    } 
}

@media (max-width: 1200px) and (min-width: 992px){

    ul.sidebar-ranking li a div:nth-child(2){
        width: 145px;
    }
    
    .footer .footer-top div ul li a{
        top: 34%;
    }
    .nav > ul li .line{
        right: 19%;
    }
    .section .section-top > div > ul li{
        // width: 94%;
    }
    .section .section-top > div h4{
        font-size: 20px;
    }
    .section .section-top > div > ul li{
        // margin: 0px 7px 5px;
    }
    .section .section-middle > div .left-content > div > div .leftimg{
        width: 40%;
    }
    .section .section-middle > div .left-content > div > div > div:nth-child(2){
        width: 60%;
    }
	.header .student .img-box{
		margin-left: 38%;
	}
}
@media (max-width: 992px){
    .header,.nav,.section,.footer{
        margin-left: 0;
    }
    .section .section-top > div > ul li a div:nth-child(2){
        font-size: 14px;
        margin: 0 3px;
    }
    .section .section-top > div > ul li a div:nth-child(3){
        // margin-right: 6px;
    }
    .header .student button{
        width: 76.5px;
        height: 26px;
        margin: 8px 0;
    }
    .nav > ul{
        padding: 0 6% 0 5%;
        li .line{
            right: 18px;
			top: 12px;
			height: 16px;
        }
        li a{
            font-size: 16px;
        }
        div a{
            font-size: 16px;
        }
    }
    .section .section-top > div > ul li{
        // margin: 0px 9px 5px;
    }
    .footer .footer-top{
//      padding: 35px 12% 0;
        width: 90%;
    }
    .footer .footer-top div ul li a{
        top: 34%;
    }
    .header .partake > div {
        width: 167px;
        margin: 0 3%;
		height: 73px;
    }
	.partake h2{
		font-size: 24px;
	}
    .header .partake ul li {
        width: 21px;
        font-size: 22px;
    }
    .header .partake ul .mask{
        width: 19px;
    }
    .header .partake ul span{
        top: 6px;
    }
    .header .partake .box .digit-container{
        //width: 22px;
    }
    .header .partake .box span,.partake .box span{
        //width: 25px;
        font-size: 22px;
		height: 32px;
		line-height: 32px;
    }
    .header .partake .box{
        left: 35%;
		margin-top: -12px;
		height: 32px;
		margin-left: -39px;
    }
	.partake .box{
		height: 32px;
		margin-top: 11px;
    }
    .section .section-top > div h4{
        font-size: 22px;
    }
    .section .section-top > div h4{
        font-size: 17px;
    }
    .section .section-middle {
        // margin: 14px 20px 0;
    }
    .section .section-top {
        //margin: 0 20px;
    }
	.section .section-middle > div .left-content > div > div > div:nth-child(2) {
		p:nth-child(1){
			margin: 0;
		}
		.time {
			line-height: 19px;
			font-size: 15px;
		}
	}
}
@media (max-width: 751px){
    .footer .footer-top{
//      padding: 34px 12px 0;
    }
    .header .student button{
        width: 76.5px;
        height: 26px;
        margin: 8px 0;
    }
}
@media (min-width: 992px){
    .col-sm-push-5 {
        left: 37.666667%;
    }
    .col-sm-pull-8 {
        right: 58.666667%;
    }
}
@media (min-width: 768px){
    .footer .footer-top{
        .partner,.jigou .col-sm-3{
            padding: 0 5px;
        }
        p{
            margin-left: -35px;
        }
    }
}
@media (max-width: 767px){
    .section .section-top > div {
        width: inherit;
    }
    .section .section-top > div:nth-child(2){
        margin: 10px 0;
    }
    .section .section-middle{
        // margin: 15px 4% 0;
    }
	.section .section-idxmid{
        margin: 15px 0 0;
    }
    .section .section-middle > div > div{
        // padding-right: 10px;
        // padding-left: 10px;
    }
    .section .section-bottom > div{
        margin-bottom: 10px;
    }
    .footer .footer-top div ul li a{
        top: 36%;
        font-size: 12px;
    }
    .footer .footer-top{
        div ul li:nth-child(2) {
            margin: 0 4%;
        }
        .logo{
            margin-bottom: 20px;
        }
        p{
            margin-left: 0;
        }
    } 
    .footer .footer-middle{
        margin: 32px auto 20px;
        ul{
            padding: 0 15px;
            width: 100%;
            li {
                a{
                    font-size: 18px;
                }
                .line{
                    background: #CDCFD1;
                }
            }
        } 
    } 

    .modal-dialog {
        width: 100%;
    }
    .nav > ul li .line{
        display: none;
    }
    .section .section-top > div > ul li{
        // width: 97%;
    }
    .section .section-middle > div .left-content{
        height: inherit;
        padding-bottom: 10px;
        margin-top: 14px;
        border-radius: 0;
    }
    .nav{
		margin-top: 0;
		> ul li a{
			font-size: 15px;
		}
	} 
    .section .section-top > div > ul li a div:nth-child(2){
        // margin: 0 15px;
    }
    .section .section-top {
        margin: 0 13px;
    }
    .section .section-middle > div > div:nth-child(2){
        // padding-right: 10px;
        // padding-left: 10px;
    }
    .section .section-middle .banner-bottom > div{
        padding-right: 0;
    }
    .section .section-middle .banner-bottom > div:nth-child(2){
        padding-left: 0;
    }
    .section .section-middle .banner-bottom{
        .ad{
            padding-right: 10px;
            &:nth-child(2){
                padding-right: 0;
                padding-left: 10px;
            }
        }
        .img-box{
            padding-top: 85%;
        }
    } 
    .section{
        padding: 20px 0;
        background: #d2cfc0;
        .star{
            display: none;
        }
    } 
    .disnone,.section .section-right .loading,.footer .pclogo,.pcheader{
        display: none;
    }

    .footer{
        padding-top: 0;
        background: #fff;
        .footer-top{
            width: 100%;
        }
    }
	.nav-top{
		margin-top: 129px;
	}
	.section .section-middle > div .left-ct{
		background:  url(../img/idx-news.jpg) no-repeat center;
		background-size: 100% 100%;
		padding: 6px 5px;
		margin-top: 0;
	}
	.section .section-middle > div .left-ct h6{
		display: none;
	}
	.section .slider-news .swiper-container{
		height: 86px;
		margin-left: 24%;
		width: 76%;
	}
	.section .slider-news .swiper-container .swiper-wrapper p{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.section .section-middle > div .left-ct >div{
		margin: 0;
	}
	.section .section-top > div ul li{
		&:nth-last-child(-n+2){
			// display: none;
		}
	}
	
}
@media (min-width: 768px){
	.col-sm-push-5 {
		//left: 38.666667%;
		left: 33.666667%;
	}
	.col-sm-pull-8 {
		//right: 57.666667%;
		    right: 65.4%;
	}
    .section-middle .col-sm-pull-8 {
        right: 66.4%;
    }
    .bannernone,.middle-partake,.footer .middlelogo{
        display: none;
    }
}
@media (min-width: 590px){
	.mobile-header {
		.logos{
			width: 70%;
		}
	}
	
}
@media (max-width: 600px){
	.section .slider-news .swiper-container {
		height: 70px;
	}
	
}
@media (max-width: 520px){
    .nav{
        overflow-x: scroll;
        overflow-y: hidden;
        > ul{
            padding: 0;
            width: 140%;
            li{
                .line{
                    display: none;
                }
                a{
                    font-size: 16px;
                    transform: scale(0.9);
                }
            }
            div{
                right: 0;
                a{
                    font-size: 16px;
                }
            } 
        } 
    } 
    .section .section-top > div > ul li{
        // width: 95%;
    }
    .nav > ul li{
        width: 15%;
    }
    .footer .footer-middle ul li a{
        font-size: 14px;
    }
    .footer .footer-top div ul li p{
        font-size: 14px;
    }
    .footer .footer-bottom p{
        font-size: 9px;
    }
    .footer .footer-middle ul li .line{
        height: 13px;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
        overflow: hidden;
    }
	.mobile-header .fexd{
		height: 100px;
		line-height: 100px;
	}
	.nav-top {
		margin-top: 99px;
	}
	.section .slider-news .swiper-container{
		height: 70px;
	}
	.section .slider-news .swiper-container .pagination{
		display:none;
	}
}
@media (min-width: 520px){
	.navbar-header .navbar-toggle{
		height: 80px;
	}
}
@media (max-width: 460px){
	.mobile-header .fexd{
		height: 90px;
		line-height: 55px;
	}
	.nav-top {
		margin-top: 89px;
	}
	.mobile-header .navbar-header .navbar-toggle{
		margin-right: 3%;
	}
    .mobile-header #mobile-menu #tach{
        width: 15%;
    }
	.mobile-header #mobile-menu > div{
		width: 85%;
	}
}
@media (max-width: 380px){
    .section .section-top > div > ul li{
        // width: 93%;
    }
    .nav > ul{
        width: 200%;
    }
	.mobile-header .fexd {
		height: 80px;
		line-height: 55px;
	}
	.nav-top {
		margin-top: 79px;
	}
	.footer .footer-middle ul{
		padding: 0;
		li{
			margin: 0 5px;
		}
	} 
	.section .slider-news .swiper-container {
		height: 50px;
	}
	.section .banner .swiper-slide h4{
		font-size: 18px;
	}
}
@media (max-width: 321px){
	.section .section-middle > div .left-ct > div .time {
		font-size: 16px;
	}
	.section .section-middle > div .left-ct > div p {
		font-size: 13px;
	}
	.section .section-middle > div .left-ct .more a {
		font-size: 13px;
	}
	.section .slider-news .swiper-container {
		height: 43px;
	}
}
